---
import { home } from "@/lib/ui/slug"
import { Icon, Sprite } from "astro-icon"

interface Props {
  prev: string | null
  next: string | null
  place: "top" | "bottom"
}

const { prev, next, place } = Astro.props
---

<div class:list={["link-group", `--${place}`]}>
  {
    prev && (
      <a href={prev} class="prev">
        <Sprite name="game-icons/hummingbird" />
        <Sprite name="ant-design:swap-right-outlined" />
      </a>
    )
  }
  <a href={home()} class="home">
    <Icon name="game-icons/bird-cage" />
  </a>
  {
    next && (
      <a href={next} class="next">
        <Sprite name="game-icons/hummingbird" />
        <Sprite name="ant-design:swap-right-outlined" />
      </a>
    )
  }
</div>

<style>
  .link-group {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    margin-inline: -1rem;
  }

  .link-group.--bottom {
    background: #eeeeee;
    background-image: linear-gradient(to top, #f9f9f9, rgba(255, 255, 255, 0));
  }

  .prev {
    transform: rotateY(180deg);
  }

  /** prevがないときも右寄せ */
  .next:nth-child(2) {
    margin-left: auto;
  }

  .home {
    position: absolute;
    left: 50%;
    translate: -50%;
    opacity: 0.6;
  }

  :is(.prev, .next, .home) {
    display: flex;
    align-items: center;
    color: currentColor;
  }

  :is(.prev, .next, .home) > :global(*) {
    width: 2rem;
    height: 2rem;
  }
</style>
