---
interface Props {
  subtitle?: string
}

const { subtitle } = Astro.props

const title = ["Saezuru English", subtitle].filter(Boolean).join(" | ")
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;0,600;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    overflow-x: hidden;
  }

  body {
    font-family: "Alegreya", "Hina Mincho";
    background: #f9f9f9;
    color: #525e75;
    margin: auto;
    padding: 1rem 1rem 2rem;
    max-width: 60rem;
  }
</style>
